<div *ngIf="currentNote" class="note-content">
  <div *ngIf="!isEditMode; else elseBlock">
    <button
      class="edit-note-btn"
      name="edit-note-btn"
      (click)="toggleEditMode(true)"
    >
      редактировать заметку
    </button>
    <h2 class="note-title">{{ currentNote.title }}</h2>
    <p class="note-text">{{ currentNote.text }}</p>
  </div>
  <ng-template #elseBlock>
    <form class="edit-form">
      <div class="btns">
        <button
          class="save-note-btn"
          [disabled]="noteTitle.invalid || noteText.invalid"
          name="save-note-btn"
          (click)="updateNote()"
        >
          save note
        </button>
        <button class="cancel-btn" (click)="toggleEditMode(false)">
          cancel
        </button>
      </div>
      <label class="note-title-label" for="note-title-input">
        <input
          id="note-title-input"
          name="note-title-input"
          class="note-title-input"
          type="text"
          [ngModel]="currentNote.title"
          (ngModelChange)="changeTitle($event)"
          required
          minlength="1"
          #noteTitle="ngModel"
        />
        <span class="error-msg" *ngIf="noteTitle.invalid"
          >Введите заголовок заметки</span
        >
      </label>
      <label class="note-text-label" for="note-text-textarea">
        <textarea
          id="note-text-textarea"
          name="note-text-textarea"
          class="note-text-textarea"
          [ngModel]="currentNote.text"
          (ngModelChange)="changeText($event)"
          required
          minlength="1"
          #noteText="ngModel"
        >
        </textarea>
        <span class="error-msg" *ngIf="noteText.invalid"
          >Введите текст заметки</span
        >
      </label>
    </form>
  </ng-template>
</div>
